@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory;
@model VirtualSchool.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            Enseignant
        </dt>
        <dd class="col-sm-10">
            
            @if (Model.Teacher != null)
            {
                <p> @Model.Teacher.Name</p>
            }
            else
            {
                <p>Aucun enseignant n'est associé à ce cours.</p>
            }
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
